/* Navigatie balk bovenaan scherm */
nav {
    background-color: #000;
    color: #FFDC00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1.25rem;
}

nav ul li a {
    color: #FFDC00;
    text-decoration: none;
}
/* Wanneer de muis op een knop hovvert wordt de tekst bold en underlined. */
nav ul li a:hover {
    font-weight: bold;
    text-decoration: underline; 
  }

  .shift-right {
    margin-left: 1.25rem;
  }

/* Pagina header met welkomsttext en logo */
.pagina-header {
    display: flex;
    background-color: #000;
    padding: 1.2rem;
    box-shadow: 0px 0px 0.5rem  #02ff8d;
    margin-bottom: 0.5rem;
    
}

.welkomst-animatie{
  animation: vliegIn ease-in 2s forwards;
}

@keyframes vliegIn {
  from { transform: translateX(50%); } /* Begint rechts off-screen */
  to { transform: translateX(0); } /* Eindigt links bij de header tekst*/
}


/* Animatie van vliegtuigje in pagina header  */
.vliegtuigje {
  position: relative; 
  width: 7rem; 
  animation: fly 8s linear infinite;
}

@keyframes fly {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-100% - 7rem)); }
}
