/* Navigatie balk bovenaan scherm */
nav {
    background-color: #000;
    color: #FFDC00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #FFDC00;
    text-decoration: none;
}
nav ul li a:hover {
    font-weight: bold; /* Makes the text bold */
  }

  .shift-right {
    margin-left: 25px;
  }



/* Main CSS styles */
main {   background-image: url("../Images/achtergrond.png");
    background-size: cover;
}

body {
 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFDC00;
}

/* Pagina header met welkomsttext en logo */
.pagina-header {
    display: flex;
    background-color: #000;
    padding: 15px;
    box-shadow: 0px 0px 5px  #02ff8d;
    margin-bottom: 4px;
    
}

/* Animatie van vliegtuigje in pagina header  */
.vliegtuigje {
  position: relative; 
  width: 70px; 
  animation: fly 8s linear infinite;
}

@keyframes fly {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-100% - 70px)); }
}


/* sub containers in de body van de pagina */

.container2,
.container3 {
    background-color: #000;
    border: 2px solid #02ff8d;
    padding: 15px;
    margin: 15px;
}

.container2 {
    float: left;
}

.container3 {
    float: right;
}

.container4 {
    display: flex;
    align-items: center;
    margin-top: 450px;
}

.containerNieuweVlucht {
    background:#ffffff;
    color:#000;
    display: flex;
    float: left;
    padding: 10px;
    margin: 5px;
    line-height: 2;
    border: 3px solid #02ff8d;
}

footer {
    background-color: #000000;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    height: 25px;
    margin-top: 550px;

}

/* Login styling */
.inlog-sectie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;

  }
  
  .inlog-formulier {
    background-color: black; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px  #02ff8d;
    width: 350px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 25%;
    padding: 10px;
    border: 1px solid #02ff8d;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  button[type="submit"] {
    background-color: #00ff08;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  