/* Navigatie balk bovenaan scherm */
nav {
    background-color: #000;
    color: #FFDC00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1.25rem;
}

nav ul li a {
    color: #FFDC00;
    text-decoration: none;
}
nav ul li a:hover {
    font-weight: bold; /* Makes the text bold */
  }

  .shift-right {
    margin-left: 1.25rem;
  }

/* Pagina header met welkomsttext en logo */
.pagina-header {
    display: flex;
    background-color: #000;
    padding: 1.5rem;
    box-shadow: 0px 0px 0.5rem  #02ff8d;
    margin-bottom: 0.5rem;
    
}

/* Animatie van vliegtuigje in pagina header  */
.vliegtuigje {
  position: relative; 
  width: 7rem; 
  animation: fly 8s linear infinite;
}

@keyframes fly {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-100% - 7rem)); }
}


/* Main CSS styles */
main {   background-image: url("../Images/achtergrond.png");
  background-size: cover;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FFDC00
}

/* Container wrapper is voor het grid waar container 2 en 3 in zitten. */
.container-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Twee kolommen */
  grid-column-gap: 3px; /* Ruimte tussen kolommen */
}

.toggle-switch {
  display: flex;
  margin-bottom: 1rem;
}

.toggle-switch input[type="radio"] {
  margin-right: 10px;
}

.toggle-switch label {
  cursor: pointer;
}

.vlucht-tabel-container {
  overflow-y: auto; /* Enable scrolling if there are more than 10 results */
  max-height: 300px; /* Adjust as needed */
}

th, td {
  border: 1px solid #ccc; /* Add border for each cell */
}
/* Sub-containers 2 en 3 styles */
.container2,
.container3 {
  background-color: #000;
  box-shadow: 0px 0px 0.5rem #02ff8d;
  padding: 1rem;
}

.container4 {
    display: flex;
    align-items: left;
    margin-top: 450px;
}

footer {
    background-color: #000000;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    height: 25px;
    margin-top: 550px;

}

/* Login styling */
.inlog-sectie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;

  }
  
  .inlog-formulier {
    background-color: black; 
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px  #02ff8d;
    width: 35rem;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 25%;
    padding: 5px;
    border: 1px solid #02ff8d;
    border-radius: 2px;
    margin-bottom: 5px;
  }
  
  button[type="submit"] {
    background-color: #00ff08;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }

  .message {
    font-style: italic;
    font-size: 0.8em;
  }
  