/* Main body CSS styles */
main {   background-image: url("../Images/achtergrond.png");
  background-size: cover;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FFDC00
}

/* Container wrapper is voor het grid waar container 2 en 3 in zitten. */
.container-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Twee kolommen */
  grid-column-gap: 0.2rem; /* Ruimte tussen kolommen */
}

.toggle-switch {
  display: flex;
  margin-bottom: 1rem;
}

.toggle-switch input[type="radio"] {
  margin-right: 0.6rem;
}

.toggle-switch label {
  cursor: pointer;
}

.vlucht-tabel-container {
  overflow-y: auto; /* Enable scrolling if there are more than 10 results */
  max-height: 19rem; /* Adjust as needed */
}

th, td {
  border: 0.1rem solid #ccc; /* Add border for each cell */
}
/* Sub-containers 2 en 3 styles */
.container2,
.container3 {
  background-color: #000;
  box-shadow: 0rem 0rem 0.5rem #02ff8d;
  padding: 1rem;
}

.container4 {
    display: flex;
    margin-top: 28rem;
}

footer {
    background-color: #000000;
    width: 100%;
    padding: 0.6rem;
    text-align: center;
    color: #ffffff;
    height: 1.5rem;
    margin-top: 35rem;

}


  